*~
*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in

*.o.cmd
*.ko
*.ko.cmd
*.mod.c
*.mod.o.cmd
.tmp_versions
Module.symvers
modules.order

/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
